.content
  .head_text.column.split_4 
    %h1 Accreditations
    %h2 Always pushing to have the best<br>standards
  .top_right_buffer.column.split_6
    = link_to 'PAS2030', root_path
  .column.split_10 
    .column.split_2
      = image_tag('k1.jpg')
    .column.split_2
      = image_tag('k2.jpg')
    .column.split_2
      = image_tag('k3.jpg')
    .column.split_2
      = image_tag('k4.jpg')
    .column.split_2
      = image_tag('sec.jpg')
    .column.split_2
      = image_tag('ggf.jpg')
    .column.split_2
      = image_tag('safecon.jpg')
    .column.split_2
      = image_tag('fansa.jpg')
    .column.split_2
      = image_tag('concline.jpg')
    .column.split_2
      = image_tag('bsi-is0-9001-small.jpg')
    .column.split_2
      = image_tag('CE.png')
    .column.split_2
      = image_tag('greendeal.png')
