!!!
%html
  %head
    %title Symphony
    %script{:src => "//use.typekit.net/fgj6smy.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .general_wrap
      - if request.fullpath == root_path
        = render 'layouts/header_home'
      - else
        = render 'layouts/header'
      = yield
      = render 'layouts/footer'